@model DAL.Models.Image

@{
    ViewData["Title"] = "CreateImageProduct";
}

<h1>CreateImageProduct</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateImageProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preview" class="control-label"></label>
                <input asp-for="Preview" class="form-control" />
                <span asp-validation-for="Preview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdcutId" class="control-label"></label>
                <select asp-for="ProdcutId" class ="form-control" asp-items="ViewBag.ProdcutId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
